<body style='background-color: rgba(255, 215, 55, 0.9);padding: 20px'>
	<h1>Hi <%= @user.first_name %>!</h1>
	<p>Thanks for requesting the full <strong>Learn to read with Pip Programme</strong>.</p>
	<p>Click on the big yellow button below to start downloading the <strong>parent/home</strong> version of the Programme.</p>
	<br />
	<a href="https://dl.dropboxusercontent.com/u/106028084/pippcbuild/pippchome.exe" style="background-color: rgba(231, 111, 97, .9);padding: 15px 20px;width: 40%;margin: 5px auto;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;vertical-align: middle;cursor: pointer;border: 1px solid transparent;border-radius: 4px;white-space: nowrap;"><p>Download for PC</p></a>
	<br />
	<a href="https://dl.dropboxusercontent.com/u/106028084/pipmacbuild/pip.pkg" style="background-color: rgba(231, 111, 97, .9);padding: 15px 20px;width: 40%;margin: 5px auto;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;vertical-align: middle;cursor: pointer;border: 1px solid transparent;border-radius: 4px;white-space: nowrap;"><p>Download for Mac</p></a>
	<br />

	<p>If you'd like to follow the curriculum for the Learn to read with Pip Programme, you can download it by clicking the yellow button below:</p>

	<a href="http://www.learntoreadwithpip.com/curriculum.pdf" target="_blank" style="background-color: rgba(255, 215, 55, .9);padding: 15px 20px;width: 40%;margin: 5px auto;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;vertical-align: middle;cursor: pointer;border: 1px solid transparent;border-radius: 4px;white-space: nowrap;"><p>Download the curriculum</p></a>

</body>