<h1>Listing phonemes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @phonemes.each do |phoneme| %>
      <tr>
        <td><%= link_to 'Show', phoneme %></td>
        <td><%= link_to 'Edit', edit_phoneme_path(phoneme) %></td>
        <td><%= link_to 'Destroy', phoneme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phoneme', new_phoneme_path %>
