<div class="container">
	<h1 class="text-center">Pip for free on your PC!</h1>
	<p class="text-center">Get the full <strong>Learn to read with Pip Programme</strong> for free on your PC computer.<br /><br />Choose one of the two options:</p>
	<br />

	<div id="user-options" class="text-center">
		<a href="#" id="parent-choice-button" class="btn btn-yellow">Parent: Use at home</a>
		<a href="#" id="teacher-choice-button" class="btn btn-yellow">Teacher: Use at school</a>
	</div>
	<br />
	<p  class="text-center">Fill in the form and we will send you an email with a link to download the full Learn to read with Pip Programme for free for your PC computer (not Mac at the moment). <br /><br />
	You can see the curriculum, which largely mirrors Letters and Sounds, <a href="/curriculum.pdf">here</a></p>
	<%= render 'form' %>
	<%= image_tag 'website_bg_art_2.png' %>
</div>
