<div class="container">
	<h3>Fill in your name, email and country to join our international community of enthusiastic parents and  get the Learn to read with Pip Programme for free</h3>
	<%= render 'form' %>
	<%= image_tag 'website_bg_art_2.png' %>
</div>
