<div class="container">
	<h1>Get the Learn to read with Pip Programme for free on your PC computer</h1>
	<p>Choose one of the two options</p>
	<div id="user-options">
		<a href="#" id="parent-choice-button" class="btn btn-yellow">Parent: Use at home</a>
		<a href="#" id="teacher-choice-button" class="btn btn-yellow">Teacher: Use at school</a>
	</div>
	<p>Fill in the form and we will send you an email with a link to download the full Learn to read with Pip Programme for free for your PC computer (not Mac at the moment).</p>
	<%= render 'form' %>
	<%= image_tag '' %>
</div>
