<div class="container text-center">
	<h4>Many thanks <%= @user.first_name %> <%= @user.second_name %>!</h4>
	<p>Now you can click on one of the links below to download programme for free.</p>
	<br >
	<div class="text-center row">
		<div class="col-md-4">
			<a href="https://itunes.apple.com/gb/app/pip/id840979467?mt=12"  target="_blank" class="btn btn-yellow"><h2>Download for Mac</h2></a>
		</div>
		<div class="col-md-4">
			<a href="https://itunes.apple.com/gb/app/learn-to-read-with-pip/id808850530?mt=8" target="_blank" class="btn btn-yellow"><h2>Download for iPad</h2></a>
		</div>
		<div class="col-md-4">
			<a href="https://dl.dropboxusercontent.com/u/106028084/pippcbuild/pippchome.exe"  target="_blank" class="btn btn-yellow"><h2>Download for Windows PC</h2></a>
		</div>
	</div>
	<br />
	<div class="text-center">
		<a href="/curriculum.pdf"  target="_blank" class="btn btn-yellow"><h2>See the curriculum</h2></a>
	</div>
	<%= image_tag('website_bg_art_2.png') %>
 </div>
  
 