<p id="notice"><%= notice %></p>


  <h4>Grapheme: <%= @user.email %></h4>
  
  





<%= link_to 'Edit', edit_user_path(@user), class: 'button' %> |
<%= link_to 'Back', users_path, class: 'button' %>