<div class="container">
	<h4>Many thanks <%= @user.first_name %> <%= @user.second_name %>!</h4>
	<p>We will send an email with a link to download the full programme for your computer shortly to <%= @user.email %>.</p>
 </div>
  
 