<div class="green-background">
            <div class="container body-padding">
                <h1 class="more-info-banner text-center"><a name="more-info"><%= image_tag("more_info_banner.png") %></a></h1>
                <div class="row">
                    <div class="col-md-offset-2 col-md-4 body-padding">
                        
                        <h1>Filled with fun!</h1>
                        <ul>
                            <li>Curriculum-led games, stories and activities</li>
                            <li>Engaging and inventive</li>
                            <li>Focus on enjoyment</li>
                        </ul>
                    </div>
                    <div class="col-md-4 body-padding">
                        <img src="assets/kids_fun.png">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-md-offset-2  body-padding text-center">
                        <img src="assets/splat_fun.png">
                    </div>
                    <div class="col-md-6 body-padding">
                        <h1 class="">Packed with phonics</h1>
                        <ul>
                            <li>Used in schools across the country</li>
                            <li>Match letters and sounds</li>
                            <li>Learn to read quickly and easily</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-4 col-md-offset-2 body-padding">
                        <h1>Approved by teachers</h1>
                        <ul>
                            <li>Created by teachers and education specialists</li>
                            <li>Highest-quality educational apps</li>
                            <li>Created to match school curriculum</li>
                        </ul>
                    </div>
                    <div class="col-md-5 offset1 body-padding">
                        <img src="assets/phonics_reading_pad.png">
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>