<div class="green-background">
            <div class="container body-padding">
                <h1 class="more-info-banner"><a name="more-info"><%= image_tag("more_info_banner.png") %></a></h1>
                <div class="row">
                    <div class="col-md-6 body-padding">
                        
                        <h1>Filled with fun!</h1>
                        <p>We play something a lot when it is fun and practise is the best way of getting better. So our apps and games have been carefully designed by teachers to help you and your child have fun while they learn.</p>
                    </div>
                    <div class="col-md-5 offset1 body-padding text-center">
                        <img src="assets/kids_fun.png">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-5 body-padding text-center">
                        <img src="assets/splat_fun.png">
                    </div>
                    <div class="col-md-6 offset1 pull-right body-padding">
                        <h1 class="pull-right">Packed with phonics</h1>
                        <p class="pull-right">All our learning products are designed by teachers to complement what is being taught in classrooms across the country.  Our reading products follow the Systematic Synthetic Phonics approach used in the National Curriculum.</p>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-6 body-padding">
                        <h1>Approved by teachers</h1>
                        <p>Our mission is to help children continue learning beyond the classroom through a combination of regular practise and high-quality teaching. Our teachers make sure all our games and products are always helping your child learn the right thing the right way.</p>
                    </div>
                    <div class="col-md-5 offset1 body-padding text-center">
                        <img src="assets/phonics_reading_pad.png">
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>