<footer id="footer">        
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5><a href="index.html">Home</a></h5>
            </div>
           
             <div class="col-md-2">
                <h5><a href="apps.html">Apps</a></h5>
            </div>
            <div class="col-md-2">
                <h5><a href="about.html">About</a></h5>
            </div>

             <div class="col-md-2">
                <h5><a href="privacy.pdf">Privacy</a></h5>
            </div>

             <div class="col-md-2">
                <h5><a href="terms.pdf">Terms</a></h5>
            </div>
        </div>
    </div>
    <div class="container text-center">
            © 2013 Altitude Education Ltd.
    </div>
</footer>