<div class="col-md-12">
	<img src="/assets/pip-bottom-art.png"> 
</div>
<footer id="footer">  

    <div class="container">
        <ul class="text-center">
            
        </ul>
    </div>
    <div class="container text-center">
            © 2013 Altitude Education Ltd.
    </div>
</footer>