<footer id="footer">        
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5><%= link_to 'Home', root_path %></h5>
            </div>
           
             <div class="col-md-2">
                <h5><a href="/home#apps">Apps</a></h5>
            </div>
            <div class="col-md-2">
                <h5><%= link_to 'About', about_path %></h5>
            </div>

             <div class="col-md-2">
                <h5><a href="/privacy.pdf">Privacy</a></h5>
            </div>

             <div class="col-md-2">
                <h5><a href="/terms.pdf">Terms</a></h5>
            </div>
        </div>
    </div>
    <div class="container text-center">
            © 2013 Altitude Education Ltd.
    </div>
</footer>