<div class="navbar navbar-fixed-top">
    <h1 id="logo-symbol">
        <a class="navbar-brand" id="logo-symbol-link" href="/">Pip
        </a>
    </h1>
    <div class="collapse navbar-collapse">
        <ul class="pull-right nav navbar-nav">
            <li><%= link_to 'HOME', home_path %></li>
            <li><a href="home#apps">APPS</a></li>
            <li><%= link_to 'ABOUT', about_path %></li>
            <li><%= link_to 'PARENT INFO', info_path %></li>
            <li><a href="http://blog.learntoreadwithpip.com" target="_blank">BLOG</a></li>
            <li><a href="http://learn-with-pip.myshopify.com/" target="_blank">SHOP</a></li>
        </ul>
    </div>
</div>