<div class="navbar navbar-fixed-top">
    <h1 id="logo-symbol">
        <a class="navbar-brand" id="logo-symbol-link" href="/">Pip
        </a>
    </h1>
    <div class="collapse navbar-collapse">
        <ul class="pull-right nav navbar-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="#apps">APPS</a></li>
            <li><a href="about.html">ABOUT</a></li>
        </ul>
    </div>
</div>