<!-- <div class="tab-pane fade" id="teachers">
                        <div class="row">
                            <div class="col-md-6">
                                <h1><img src="assets/collect_stories_with_pip_title.png"></h1>
                                <p>This app has been designed to help teachers with Reception classes as a fun and useful resource they can use as they teach phonics.</p>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <a href="coming.html" target="_blank"><img src='assets/available_app_store.png'></a>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <iframe src="http://player.vimeo.com/video/70019832" width="333" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <h1><img src="assets/collect_stories_with_pip_title.png"></h1>
                                <p>This app has been designed to help teachers with Year 1 classes as a fun and useful resource they can use as they teach phonics.</p>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <a href="coming.html" target="_blank"><img src='assets/available_app_store.png'></a>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <iframe src="http://player.vimeo.com/video/70019832" width="333" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <h1><img src="assets/collect_stories_with_pip_title.png"></h1>
                                <p>This app has been designed to help teachers with Year 2 classes as a fun and useful resource they can use as they teach phonics.</p>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <a href="coming.html" target="_blank"><img src='assets/available_app_store.png'></a>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <iframe src="http://player.vimeo.com/video/70019832" width="333" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                    </div> -->
