<div class="tab-pane fade" id="year1">

                        <div class="row">
                            <div class="col-md-6 left">
                                <h1><img src="assets/practise_words_with_pip_banner.png"></h1>
                                <p>Build your confidence with our interactive phonics games. </p>
                                <p>Pip our adventurous collector will lead your child through a rigorous series of great games, exciting exercises and cool challenges as they learn to read.
                                Collect words and use them to create your own pictures. Have fun practising by yourself or playing together with friends and family in our exciting multiplayer mode. </p>
                                <p>Learn while you play. Download the apps today.</p>
                            </div>
                            <div class="col-md-3">
                                <!-- <a href="coming.html" target="_blank"><img src='assets/available_app_store_coming_soon.png'></a> -->
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <!-- <iframe src="http://player.vimeo.com/video/70019832" width="333" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                                <a href="https://itunes.apple.com/gb/app/practise-reading-words-pip/id748223230?mt=8" target="_blank"><img src='assets/available_app_store.png'>
                                </a>
                                <h2  class="text-center">£1.49</h2>
                                <div class="text-center margin-top-30">
                                    <a class="btn btn-success btn-large" href='/pip_info_words_year1_page1.pdf' target="_blank">Year 1 curriculum</a>
                                </div>
                            </div>
                        </div>

                        <hr >
                   
                        <div class="row">
                            <div class="col-md-6 left">
                                <h1><img src="assets/collect_stories_with_pip_title.png"></h1>
                                <div class="left">
                                    <p>Use our phonics reading pad to unlock the magic of reading.</p>
                                    <p>Each carefully structured and age-appropriate story follows the phonic reading system, used by schools across the country, which helps your child to learn the correspondence between letters and their sounds. 
                                    Not sure you’re teaching the correct phonic sounds? The phonic reading pad allows you and your child to focus on enjoying the story, whilst leaving the teaching to us. </p>
                                    <p>Learn while you play. Download the apps today. </p>
                                </div>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <!-- <a href="coming.html" target="_blank"><img src='assets/available_app_store_coming_soon.png'></a> -->
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <!-- <iframe src="http://player.vimeo.com/video/70019832" width="333" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                                <a href="coming.html" target="_blank"><img src='assets/available_app_store_coming_soon.png'>
                                </a>
                                <h2  class="text-center">£1.49</h2>
                            </div>
                        </div>
                        <hr />
                    
                       <div class="row">
                            <div class="col-md-6 left">
                                <h1><img src="assets/practise_letters_with_pip_banner.png"></h1>
                                <p>Build your confidence with our interactive phonics games. </p>
                                <p>Collect letters and use them to create your own pictures. Have fun practising by yourself or playing together with friends and family in our exciting multiplayer mode. 
                                Our curriculum-led phonics games let your child develop and improve their reading ability whilst remaining entertained and inspired. </p>
                                <p>Learn while you play. Download the apps today.</p>
                            </div>
                            <div class="col-md-3">
                                <!-- <a href="coming.html" target="_blank"><img src='assets/available_app_store_coming_soon.png'></a> -->
                            </div>
                            <div class="col-md-3">
                                <!-- <iframe src="http://player.vimeo.com/video/70019832" width="333" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                                <a href="coming.html" target="_blank"><img src='assets/available_app_store_coming_soon.png'>
                                </a>
                                <h2  class="text-center">£1.49</h2>
                            </div>
                        </div>
                        <hr />
                    

                        <div class="row">
                            <div class="col-md-6">
                                <h1><img src="assets/alphabet_poster_with_pip_banner.png"></h1>
                                <p>Introduce your child to Pip's magical world of letters with this bright and colourful A1 poster.  Available with and without unique stickers.</p>
                            </div>
                            <div class="col-md-3 padding-top-20 text-center">
                                <a href="http://learn-with-pip.myshopify.com/" target="_blank" class="btn btn-success btn-lg">Buy now
                                </a>
                                <h2  class="text-center">£20</h2>
                            </div>
                            <div class="col-md-3 padding-top-20">
                                <img src='assets/full_colour_poster_web.jpg'>
                            </div>
                        </div>

                        <hr >
                    </div>