<%= metamagic :title => 'Learn to read with Pip - About us - Helping children learn to read', :description => 'Learn to read with Pip has been created by teachers and education academics to produce the highest quality digital education products', :keywords => %w(phonics education learning reading pip learn literacy teachers team) %>

<div class="container">
        <h1><a name="team">The team</a></h1>
        <p>Hi there! </p>
        <p>We are a team of people who love learning, teaching and making fun apps.</p>
        <br />
        <br />
        <div class="row">
            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-pip"></div>
                <h1>Alex</h1>
                <p>Learning</p>
            </div>
            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-dot"></div>
                <h1>Sammy</h1>
                <p>Teaching</p>
            </div>
            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-bunny"></div>
                <h1>Stefano</h1>
                <p>Drawing</p>
            </div>
            <div class="col-md-3 team-picture">
                <div class=" team-picture-frame team-picture-rod"></div>
                <h1>Jon</h1>
                <p>Coding</p>
            </div>
            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Helen</h1>
                <p>Teaching</p>
            </div>
            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Luke</h1>
                <p>Writing</p>
            </div>
            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Dan</h1>
                <p>Sounds</p>
            </div> 
             <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Valentina</h1>
                <p>Drawing</p>
            </div> 

            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Kevin</h1>
                <p>Sounds</p>
            </div> 

            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Etta</h1>
                <p>Mum</p>
            </div> 

            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Lucy</h1>
                <p>Teaching</p>
            </div> 

            <div class="col-md-3 team-picture">
                <div class="team-picture-frame team-picture-gawp"></div>
                <h1>Gus</h1>
                <p>Designing</p>
            </div>

            <div class="col-md-3 team-picture">
                <div class=" team-picture-frame team-picture-rod"></div>
                <h1>Tom</h1>
                <p>Coding</p>
            </div>

            <div class="col-md-3 team-picture">
                <div class=" team-picture-frame team-picture-rod"></div>
                <h1>Francesca</h1>
                <p>Drawing</p>
            </div> 

            <div class="col-md-3 team-picture">
                <div class=" team-picture-frame team-picture-rod"></div>
                <h1>Amy</h1>
                <p>Teaching</p>
            </div> 

            <div class="col-md-3 team-picture">
                <div class=" team-picture-frame team-picture-rod"></div>
                <h1>Rupert</h1>
                <p>Business</p>
            </div> 

        </div>  
        <hr /> 
     
    
    
    <div class="container" style="">
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-bottom:100px;"><a name="contact">Get in touch</a></h1>
                <p>We would love to hear from you!</p>

                <p>You can get in touch through our <a href="http://www.facebook.com/learntoreadwithpip" target="_blank">facebook page</a> or by sending an email to<br /> <br /><a href="mailto:contact@learnwithpip.com">contact@learnwithpip.com</a></p>
                
            </div>

            <div class="col-md-6 text-center">
                <img src="assets/ph_elephant_on_the_telephone.png">
            </div>
        </div>
    </div>
    <hr />