<div class="beta-testing">
            <div class="container text-center">

                <img class="coming-soon-troll" src='assets/troll_flat.png'>
                <br />
                <h1>We are testing our apps with certain schools and parents right now</h1>
                <p>But fear not!  We'll be releasing them to everyone very soon</p>
                <p>You can sign up to our mailing list and be the first to know</p>
                <br />
                <br />
                <br />

                <div class="email-signup">
                    <!-- Begin MailChimp Signup Form -->
                    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                    #mc_embed_signup{background:##fef1c3; font:14px 'Lato',Helvetica,Arial,sans-serif; text-align: center;}
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="http://learntoreadwithpip.us7.list-manage.com/subscribe/post?u=94e59521489c05a9d0c231e97&amp;id=373d0923e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" style="text-align:center" class="validate text-center" target="_blank" novalidate>
                        

                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="text-align:center;margin-left: auto;margin-right: auto;" required>
                        <div class="clear text-center">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-warning" style="text-align: center; margin-left: auto; margin-right: auto;">
                        </div>
                         
                        </form>
                    </div>
               
                    <!--End mc_embed_signup-->
                    
                </div>
                <br />

            </div>
        </div>   