<div class="container text-center">
	<h1>Download Learn to read with Pip</h1>
	<p>You can download the full Learn to read with Pip Programme for your PC computer by clicking <a href="https://www.dropbox.com/sh/dl4yqp2pfuw9391/l3w5geQ5ry/pippcbuild?dl=1">here</a> or for a Mac by clicking <a href="https://dl.dropboxusercontent.com/u/106028084/pipmacbuild/pip.pkg">here</a>.</p>
	<%= image_tag('app_learn_to_read_with_pip.jpg') %>
	<br />
	<br />
</div>