<div class="container text-center homepage-container">
    <div class="website-home-art-bg">
    
        <h1 class="text-center homepage-title-text">Where enthusiastic parents and teachers can get <br >tools and information to give their young children <br>the advantage in learning to read and spell.</h1>
        <%= render :partial => "shared/emailsignup" %>
            <div class="moving-cloud"></div>
            <div class="moving-cloud-small"></div>
            <div class="moving-letter-r"></div>
            <div class="moving-letter-o"></div>
            <div class="moving-letter-a"></div>
            <div class="moving-letter-b"></div>
            <div class="moving-letter-i"></div>
            <div class="moving-letter-n"></div>
            <div class="moving-letter-t"></div>
        
        <div class="span8 offset2" id='homepage-central'>
            <a href="#" class="show-homepage-video pip-button">See the video!</a>
            <div class="homepage-see-video">
                <iframe src="http://player.vimeo.com/video/79302164" width="400" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <%= render :partial => "shared/productsindex" %>
        <%= render :partial => "shared/stages" %>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>