<div class="container">
	<h1 class="text-center"><%= image_tag("banner_information_for_parents_website.png") %></h1>
	<p>We know that most parents are desperate to give their child the best education they can.  What they lack in teaching qualification, they more than make up in enthusiasm.  We make tools and resources to empower enthusiastic parents to really make a difference in their child's education by ensuring their child is learning the right thing and doing it in a fun way.</p>

	<p>Here you'll be able to watch a series of videos where one of our teachers explains the process a child goes through as they learn to read.  You can also look at the literacy curriculum that our main reading programme, Learn to read with Pip, is based around and a bank of skill and age-specific learning games you can play at home!</p>
	<div class="row">
		<div class="text-center">
			<h2 class="text-center btn-yellow"><a href="/lettersounds" target="_blank">Hear phonics</a></h2>
			<h2 class="text-center btn-yellow"><a href="/curriculum" target="_blank">Reading curriculum</a></h2>
			<!-- <h2 class="text-center btn-yellow"><a href="/learninggames" target="_blank">Learning games</a></h2> -->
		</div>
		<div class="clear"></div>
		<div class="col-md-6">
			<h2>1. Introduction to phonics</h2>
			<iframe src="//player.vimeo.com/video/80461255" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div>

		<div class="col-md-6">
			<h2>2.  Introduction to Segmenting</h2>
			<iframe src="//player.vimeo.com/video/83512264" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div>

		<div class="col-md-6">
			<h2>3.  Introduction to Keywords</h2>
			<iframe src="//player.vimeo.com/video/83512152" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div>

		<div class="col-md-6">
			<h2>4.  Advanced Phonics</h2>
			<iframe src="//player.vimeo.com/video/83511599" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div>
	</div>
</div>
<hr />