<div class="container">
	<h1 class="text-center"><%= image_tag("banner_information_for_parents_website.png") %></h1>
	<div class="row">
		<div class="col-md-4">
			<h2>Introduction to phonics</h2>
			<iframe src="//player.vimeo.com/video/80461255" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div>
	</div>
</div>
<hr />