<div class="container">
	<h1 class="text-center">Check the letter sounds</h1>
	<div class="col-md-12">
		<h1>List of phonemes</h1>
		
			<% @alphabeticphonemes.each do |p| %>
				<%= p.phoneme %>
			<% end %>
		
	</div>
</div>
<hr />