<div class="container">
	<h1 class="text-center"><%= image_tag("partnership_programme.png") %></h1>

	<h2>Who we are</h2>
	<p>We are a young education company based in London.  We are passionate about helping enthusiastic teachers and parents help their children master reading and we think that, when used appropriately, new technologies offer some really exciting opportunities to help literacy.</p>
	<p>Our philosophy towards learning is very simple: the more time a child practises and enjoys learning to read, the better they will get.  Our main character, Pip, stands for ‘practise into progress’.  Our philosophy may be simple but the hard part is creating the tools and programmes that make it simple, easy and fun for children to spend more time practising reading!</p>
	<p>Our teachers and education consultants have built a series of digital programmes and tools around the character of Pip to make learning with phonics fun for young learners and easy for parents and teachers alike to create bespoke learning experiences for their children which can be used both in the classroom and at home.</p>
	<p>All our programmes can either be downloaded on iPads or used on our own learning tablets called Pip Pads.</p>	
	<hr>
	<h2>Our proposal</h2>
	<p>We would like to offer a small selection of primary schools to opportunity to participate with us in our Pip Partnership Programme.</p>
	<p>For you and your school it will mean you can test out using cutting-edge technologies and teaching methods without having to install, manage, train anyone or buy anything.  We’ll provide the tablets, we’ll come in and train the teacher how to use the programmes and we’ll conduct the tests.  We will also invite anyone in the school (especially Head of Phonics / Literacy) to participate in general discussions with other teachers and specialists about the role of technology in phonics and Early Years Learning.  More details are on the next page.</p>
	<p>For us, the feedback we get will be enormously helpful in our quest to build the best learning products that meet the real-life needs of teachers, parents and young learners alike.</p> 
	<p>We’re very focused on making it as easy as we possibly can for you to participate, so please let us know if there is anything we can do that would make it easier for you to be a participating school in the Partnership Programme!</p>
	<hr>
	<h2>The details</h2>
 
	<p>We can be flexible on how the testing works, but our suggestion is the following: </p>

	<p>Testing will run over 4 weeks.  We will come to your school one afternoon after teaching has finished to deliver the 5-10 Pip Pad tablets and show the class/phonics teacher(s) how to use the programme.</p>

	<p>We will return the following morning to conduct a Level Assessment from ten children.  Five children of different ability levels from the class with the Pip Pads and five from the class who don’t have the Pip Pads.  Ideally, the teacher will select five children and get permission from their parents to take the tablets home so they can continue to practise and play with the Pip Pad outside the classroom.</p>

	<p>The teacher uses the Pip Pads as an intergrated part of the phonics classes for two weeks, after which we return to re-assess the ten children we originally tested.  Two more weeks pass with the Pip Pads continued to be taken home by the five children and used in the classroom by the class teacher as part of phonics lessons.  Then we come in for a final assessment of the reading levels of the ten children and a feedback discussion with teacher(s) involved.</p>

	<ul>
		<li>Start (Week 0)       -   Deliver Pip Pad tablets, Show teacher how to use, Assessment #1</li>
		<li>Mid (Week 2)         -   Assessment #2</li>
		<li>End (Week 4)        -    Assessment #3, Teacher/school/parent feedback</li>
		<br />
		<li>Week 8 (Optional) -   Analysis of test results with teacher/school</li>
	</ul>

	<p>Of course, the results will be strictly confidential between your school and us.</p>
	<hr>

	<h2>Our programme</h2>

	<p>Our programme is appropriate for children learning to read with Systematic Synthetic Phonics in Reception and Year 1.  It follows closely the curriculum laid out by Letters and Sounds, but can be customized by your teachers to fit whichever curriculum you follow.  It also includes our own phonics reading scheme with over 40 stories written by Roald Dahl’s grandson, Luke Kelly.  All our stories and games use our Phonics Reading Pad, designed to help learners strengthen their knowledge of the relationship between letters and their sounds.</p>  

	<p>You can see more details of our curriculum <a href="/curriculum" target="_blank">here</a></p>

	<p>You can find more details of the learning mechanisms behind our programme in our literature review conducted by Helen Bradford (lecturer in the Education Department at University of Cambridge and author of Teaching English, Language and Literacy) <a href="/literaturereview.pdf" target="_blank">here</a>.</p>
	<hr />
	<h2>Get in touch</h2>

<p>If you would like to participate, please send an email to <span style="color:yellow;">alex@learnwithpip.com</span> with your name, contact number and time when you are free to speak on the phone to arrange the details.</p>

<p>You can find more information about us, our programme and our curriculum on this website.</p>

<p>We are based in Kings Cross, London.</p>
	<div class="website-home-art-bg"></div>
</div>