<h1>Pay here</h1>
<form action="/payment1" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_rQTZvOlrVQ6Pqg7uAjqVyb8n"
    data-amount="50"
    data-name="Learn to read with Pip"
    data-description="Learn to read programme - £0.50"
    data-image="/128x128.png">
  </script>
</form>