<div class="container pip-pad">
	<h1 class="text-center">Pip Reading Pad</h1>
	<p>Welcome to our Pip Reading Pad.</p>
	<br />
	<p>More robust and affordable than an iPad, this tablet is specifically designed to run the Learn with Pip programme.</p>
	<br />
	<p>These are the devices used in our partner schools as they are great for children to use in the classroom or use at home.  It runs the entire Learn with Pip programme which includes: 
		<ul>
			<li>Over 50 stories</li>
			<li>Phonics Reading Pad on each story</li>
			<li>The entire two year learning curriculum</li>
			<li>Over 20 learning games</li>
			<li>Two player games for join play</li>
			<li>Custom lessons - teachers or parents to create customized learning experiences for each child</li>
		</ul>
	</p>
	<br />
	<p>To find out more about the Pip Pad, please send an email to contact@learnwithpip.com.</p>
	<div class="text-center">
		<%= image_tag('pip_pad_product.jpg') %>
	</div>
	<br />
	<br />
</div>