<div class="container">
	<h1>Pricing</h1>
	<div class="row">
		<div class="col-md-6">
			<label>Enter the number of Pip Pads you want:</label>
		</div>
		<div class="col-md-2">
			<input id="number-pippads">
		</div>
		<div class="col-md-6">
			<label>Enter the number of software licenses you want:</label>
		</div>
		<div class="col-md-2">
			<input id="number-pipsoftware">
		</div>
		<div class="clear"></div>
		<div class="col-md-6">
			<label>Enter the number of learner accounts you want:</label>
		</div>
		<div class="col-md-2">
			<input id="number-students">
		</div>
		<br />
	</div>
	<br />
	<div class="text-center">
		<a class="text-center pip-button" href="#" id="check-price">Check price</a>
	</div>
	<br />
	<div id="show-price" class="text-center col-6-md price-table">
		<table class="marginauto">
			<thead>
			    <tr>
			      <th>Item</th>
			      <th>Unit</th>
			      <th>Total</th>
			      
			    </tr>
	  		</thead>
	  		<tbody>
			      <tr>
			        <td>Pip Pad</td>
			        <td id="pippad-unit"></td>
			        <td id="pippad-total"></td>
			      </tr>
			      <tr>
			        <td>Learning software</td>
			        <td id="software-unit"></td>
			        <td id="software-total"></td>
			      </tr>
			      <br />
			      <tr>
			        <td>Learner</td>
			        <td id="learner-unit"></td>
			        <td id="learner-total"></td>
			      </tr>
				
			      <hr />
			      <tr>
			        <td>Total (First Year)</td>
			        <td id=""></td>
			        <td id="total-today"></td>
			      </tr>
			       <tr>
			        <td>Total (Second year onwards)</td>
			        <td id=""></td>
			        <td id="total-year1"></td>
			      </tr>
			  </tbody>
		</table>
	</div>
	<br />
  </div>
</div>
