<h1>Teacher Download</h1>
<p>If a teacher wants a full version of the Learn to read with Pip programme absolutely free to run on their PC computer and show on their interactive whiteboard at the front of the classroom, all they have to do is fill out the form below and we'll send them an email with a link to download the programme!