<div class="container">
	<h1>Editing stage</h1>

	<%= render 'form' %>
	<br />

	<%= link_to 'Show', @stage, class: 'btn btn-success' %> |
	<%= link_to 'Back', stages_path, class: 'btn btn-success' %>
	<br />
</div>
