/*General styles
*/
body{
	padding: 60px 0 50px;
	background-color: #6cdec4;
	font-size: 16px;
	/* light blue background */
}

h1{
	font-size: 26px;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 18px;
}

img{
	max-width: 100%;
}


.green-background{
	background-color: #FEFFE8;
}

.body-padding{
	padding: 10px 0;
}

.no-margin{
	margin: 0px;
}

.nav-tabs > li > a{
	font-size: 26px;
}

.margin-top-30{
	margin-top: 30px;
}

.padding-top-20{
	padding-top: 20px;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: inherit;
	color: white;
}



/*Header elements*/

#logo-symbol-link{
	width: 130px;
	height: 50px;
	background: url('../assets/pip_logo_a_white_stroke.png') no-repeat;
	text-indent: -9999px;
}

#logo-symbol-link:hover{
	background: url('../assets/pip_logo_b_white_stroke.png') no-repeat;
}

.navbar{
	background-color: rgba(255, 215, 55, 0.9);
}


/*Footer elements*/



/*Homepage elements*/
.homepage-banner{
	width: 559px;
	margin: 0px auto;
	height: 188px;
	background: url('../assets/learntoreadwithpip_logo_text_sprite.png') 0px 0px;
}

.homepage-banner:hover{
	background: url('../assets/learntoreadwithpip_logo_text_sprite.png') 2px 194px;
}

.homepage-banner-small{
	display: none;
}

.homepage-banner-small img{
	width: 100%;
}

.ipad-container{
	width: 654px;
	height: 508px;
	margin: 0 auto;
	padding: 51px 0 0 1px;
	background: url('../assets/ipad_container_video.png') no-repeat;
}

@media (max-width: 979px) {
	.homepage-banner-small{
		display:block;
	}
	.homepage-banner{
		display: none;
	}
	.homepage-banner img{
		max-width: 100%;
	}
}

.btn-enormous{
	padding: 19px 62px;
	font-size: 26px;
	line-height: 1.2;
	box-shadow: 5px 5px 3px #888888;	
}

.homepage-bottom-graphics{
	height:200px;
	position: relative
}

.dot-more-info{
	height: 400px;
	width: 300px;
	background: url(../assets/website_sprite_sheet_1.png) -61px -493px;
	position: absolute;
	bottom: 0px;
	right: 30px;
	text-indent: -9999px;
}

.dot-more-info:hover{
	background: url(../assets/website_sprite_sheet_1.png) -390px -482px;
}

.homepage-animated-tree{
	position: absolute;
	bottom: 0px;
	left: 40px;
	height: 240px;
	width: 242px;
	background: url(../assets/tree_animated.png) 0px 0px;
}

.homepage-animated-small-tree{
	position: absolute;
	bottom: 20px;
	left: 340px;
	height: 240px;
	width: 200px;
	background: url(../assets/tree_animated.png) 0px -237px;
}

.homepage-animated-grass{
	position: absolute;
	bottom: 0px;
	height: 73px;
	width: 100%;
	background: url(../assets/website_sprite_sheet.png) -1079px 139px;
}




/*Animations*/
@keyframes cloudMove{
	0% {left: 0%;}
	
	100% {left: 100%;}
}

@-webkit-keyframes cloudMove{
	0% {left: 0%;}
	100% {left: 100%;}
}

@keyframes cloudMoveTwo{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes cloudMoveTwo{
	0% {left: 30%;}
	100% {left: 100%;}
}

.moving-cloud{
	width: 176px;
	height: 85px;
	background: url(../assets/website_sprite_sheet.png) no-repeat -116px -900px;
	position: absolute;	
	top: 90px;
	z-index: -10;
	animation: cloudMove 150s;
	-webkit-animation: cloudMove 150s;
}

.moving-cloud-small{
	width: 78px;
	height: 50px;
	background: url(../assets/website_sprite_sheet.png) no-repeat -22px -914px;
	position: absolute;	
	top: 190px;
	z-index: -10;
	animation: cloudMoveTwo 200s;
	-webkit-animation: cloudMoveTwo 200s;
}


/*More info elements*/



/*App info elements*/

/*Lettersounds page*/

.lettersounds img:hover{
	background-color: rgba(255, 215, 55,0.8);
}

/*About us elements*/

.genesis-image img{
	width: 100%;
	border: 2px solid #FFD737;
}

/*Curriculum page*/

.curriculum-img{
	text-align: center;
}

.curriculum-img img{
	width: 90%;
}

.game-div{
	background-color: rgba(255, 215, 55, 0.9);
	border-radius: 20px;
	padding: 30px;
	margin-top: 20px;
}

.hidden-text{
	display: none;
}

.btn-yellow{
	background-color: rgba(255, 215, 55, .9);
	padding: 15px 20px;
	width: 40%;
	margin: 5px auto;

}

.btn-yellow:hover{
	background-color: rgba(255, 215, 55, 1);
	padding: 15px 20px;
	text-decoration: none;

}

.btn-yellow a:hover{
	text-decoration: none;
}

.clear{
	clear: both;
}

.game-name-title{
	font-size: 1.4em;
}

.game-skill-title{
	font-size: 0.7em;
}

.learninggames-links-div{
	margin-top: 30px;
}



