/*General styles
*/

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('LANENAR_-webfont.eot');
    src: url('LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('LANENAR_-webfont.woff') format('woff'),
         url('LANENAR_-webfont.ttf') format('truetype'),
         url('LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunito';
    src: url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goodgirl';
    src: url('goodgirl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'dingleberry';
    src: url('dingleberry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dingleberrysolid';
    src: url('dingleberry_solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
	padding: 60px 0 0px;
/*	background-color: #6cdec4;
*/	/*background-color: #d8f9fe;*/
	font-size: 16px;
	/* light blue background */
}

h1,h2,h3,h4{
	font-family: 'nunito';
}

.homepage h1, .homepage h2, .homepage h3, .homepage h4, .navbar h2{
	/*font-family: 'goodgirl';*/
}

.homepage h1{
	margin-top: 40px;
}

.homepage p{
	/*font-family: 'dingleberrysolid';*/
}

.navbar h2{
	padding: 0 20px;
	margin: 0;
	font-size: 16px;
	/*font-family: 'dingleberrysolid';*/
}

.dingleberry, .dingleberry h3{
	/*font-family: 'dingleberrysolid';*/
}

button{
	border: none;
}

ul.navbar-nav{
	float: none;
	position: relative;
	width: 80%;
	margin: 0 auto;
}

ul.navbar-nav li{
	width: 12%;
	letter-spacing:2px;
	text-align: center;
}

ul.navbar-nav li a:hover{
	text-decoration: none;
}

h1{
	font-size: 26px;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 18px;
}

img{
	max-width: 100%;
}

.margin-top-bottom{
	margin: 30px 0;
}

.show-page{
	display:block;
}

.hide-page{
	display:none;
}

.thin-border{
	border: 1px solid yellow;
	padding: 10px 20px;
}

.thumbnail-image{
	
	width: 200px;
}

.float-right{
	float: right;
}

.homepage-title-text{
	/*font-family: 'lane_-_narrowregular';*/
	margin-bottom: 25px;
}

#homepage-container{
	/*background: url('../assets/forest_bg.jpg') no-repeat center;*/
	z-index: -999;
  	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;

}


.green-background{
	background-color: #FEFFE8;
}

.body-padding{
	padding: 10px 0;
}

.no-margin{
	margin: 0px;
}

.nav-tabs > li > a{
	font-size: 26px;
}

.margin-top-30{
	margin-top: 30px;
}

.padding-top-20{
	padding-top: 20px;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: inherit;
	color: white;
}

.tiny-text{
	font-size: 18pt;
}

.medium-text{
	font-size: 24pt;
}

.large-text{
		font-size: 36pt;
}



/*Header elements*/

#logo-symbol-link{
	width: 90px;
	height: 65px;
	background: url('../assets/pipheadicon1.png') no-repeat;
	text-indent: -9999px;
}

#logo-symbol-link:hover{
	background: url('../assets/pipheadicon2.png') no-repeat;
}

.navbar{
	background:url('../assets/sky_top_10px.png') repeat-x;
}

.header-title-image{
	width: 600px;
	text-align: center;
}

.top-nav-row{
	
	padding-bottom: 22px;
	padding-bottom: 22px;
	width: 60%;
	position: relative;
	margin: 0 auto;
}

.letter-spacing{
	letter-spacing:2px;
}


/*Footer elements*/

footer{
	background-color: rgba(255, 215, 55, 0.9);
	color: white;
	height: 130px;
	padding: 20px;
}

footer a{
	color: white;
	

}

footer ul{
	display: block;
	margin: 0 auto;
	padding: 20px;
}

footer li{
	display: inline;
	list-style: none;
	padding: 10px 30px;
}

.margin-top{
	margin-top: 30px;
}

/*Homepage elements*/
.homepage-banner{
	width: 559px;
	margin: 0px auto;
	height: 188px;
	background: url('../assets/learntoreadwithpip_logo_text_sprite.png') 0px 0px;
}

#homepage-central{
	padding-top: 20px;
}

.homepage-banner:hover{
	background: url('../assets/learntoreadwithpip_logo_text_sprite.png') 2px 194px;
}

.homepage-banner-small{
	display: none;
}

.homepage-banner-small img{
	width: 100%;
}

.ipad-container{
	width: 654px;
	height: 508px;
	margin: 0 auto;
	padding: 51px 0 0 1px;
	background: url('../assets/ipad_container_video.png') no-repeat;
}

@media (max-width: 979px) {
	.homepage-banner-small{
		display:block;
	}
	.homepage-banner{
		display: none;
	}
	.homepage-banner img{
		max-width: 100%;
	}
}

.btn-enormous{
	padding: 19px 62px;
	font-size: 26px;
	line-height: 1.2;
	box-shadow: 5px 5px 3px #888888;	
}

.homepage-bottom-graphics{
	height:200px;
	position: relative;
	margin-top: 120px;
}

.dot-more-info{
	height: 400px;
	width: 300px;
	background: url(../assets/website_sprite_sheet_1.png) -61px -493px;
	position: absolute;
	bottom: 0px;
	right: 30px;
	text-indent: -9999px;
}

.dot-more-info:hover{
	background: url(../assets/website_sprite_sheet_1.png) -390px -482px;
}

.homepage-animated-tree{
	position: absolute;
	bottom: 0px;
	left: 40px;
	height: 240px;
	width: 242px;
	background: url(../assets/tree_animated.png) 0px 0px;
}

.homepage-animated-small-tree{
	position: absolute;
	bottom: 20px;
	left: 340px;
	height: 240px;
	width: 200px;
	background: url(../assets/tree_animated.png) 0px -237px;
}

.homepage-animated-grass{
	position: absolute;
	bottom: 0px;
	height: 73px;
	width: 100%;
	background: url(../assets/website_sprite_sheet.png) -1079px 139px;
}




/*Animations*/
@keyframes cloudMove{
	0% {left: 0%;}
	
	100% {left: 100%;}
}

@-webkit-keyframes cloudMove{
	0% {left: 0%;}
	100% {left: 100%;}
}

@keyframes cloudMoveTwo{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes cloudMoveTwo{
	0% {left: 30%;}
	100% {left: 100%;}
}

.moving-cloud{
	width: 176px;
	height: 85px;
	background: url(../assets/website_sprite_sheet.png) no-repeat -116px -900px;
	position: absolute;	
	top: 70px;
	z-index: -10;
	animation: cloudMove 150s;
	-webkit-animation: cloudMove 150s;
}

.moving-cloud-small{
	width: 78px;
	height: 50px;
	background: url(../assets/website_sprite_sheet.png) no-repeat -22px -914px;
	position: absolute;	
	top: 210px;
	z-index: -10;
	animation: cloudMoveTwo 200s;
	-webkit-animation: cloudMoveTwo 200s;
}

@keyframes letteroMove{
	0% {left: 0%;}
	
	100% {left: 100%;}
}

@-webkit-keyframes letteroMove{
	0% {left: 0%;}
	100% {left: 100%;}
}

@keyframes letterrMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letterrMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@keyframes letteraMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letteraMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@keyframes letterbMove{
	0% {right: 30%;}
	100% {right: 100%;}
}

@-webkit-keyframes letterbMove{
	0% {right: 30%;}
	100% {right: 100%;}
}

@keyframes letteriMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letteriMove{
	0% {right: 10%;}
	100% {right: 100%;}
}

@keyframes letternMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letternMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@keyframes lettertMove{
	0% {left: 50%;}
	100% {left: 100%;}
}

@-webkit-keyframes lettertMove{
	0% {left: 50%;}
	100% {left: 100%;}
}

.moving-letter-o{
	width: 150px;
	height: 150px;
	background: url(../assets/letter_o_small.png) no-repeat;
	position: absolute;	
	top: 370px;
	z-index: -10;
	animation: letteroMove 150s;
	-webkit-animation: letteroMove 150s;
}

.moving-letter-r{
	width: 150	px;
	height: 150px;
	background: url(../assets/letter_r_small.png) no-repeat;
	position: absolute;	
	top: 380px;
	z-index: 10;
	animation: letterrMove 200s;
	-webkit-animation: letterrMove 200s;
}

.moving-letter-a{
	width: 78px;
	height: 50px;
	background: url(../assets/letter_r_small.png) no-repeat;
	position: absolute;	
	top: 310px;
	z-index: 10;
	animation: letteraMove 200s;
	-webkit-animation: letteraMove 200s;
}

.moving-letter-b{
	width: 80px;
	height: 80px;
	background: url(../assets/letter_b.png) no-repeat;
	position: absolute;	
	top: 490px;
	z-index: 10;
	animation: letterbMove 200s;
	-webkit-animation: letterbMove 200s;
}

.moving-letter-i{
	width: 150px;
	height: 150px;
	background: url(../assets/letter_i.png) no-repeat;
	position: absolute;	
	top: 230px;
	z-index: -10;
	animation: letteriMove 200s;
	-webkit-animation: letteriMove 200s;
}

.moving-letter-n{
	width: 150px;
	height: 150px;
	background: url(../assets/letter_n.png) no-repeat;
	position: absolute;	
	top: 410px;
	z-index: 10;
	animation: letternMove 200s;
	-webkit-animation: letternMove 200s;
}

.moving-letter-t{
	width: 75px;
	height: 75px;
	background: url(../assets/letter_t.png) no-repeat;
	position: absolute;	
	top: 410px;
	z-index: 10;
	animation: lettertMove 200s;
	-webkit-animation: lettertMove 200s;
}


/*More info elements*/



/*App info elements*/

/*Lettersounds page*/

.lettersounds img:hover{
	background-color: rgba(255, 215, 55,0.8);
}

/*About us elements*/

.genesis-image img{
	width: 100%;
	border: 2px solid #FFD737;
}

/*Curriculum page*/

.curriculum-img{
	text-align: center;
}

.curriculum-img img{
	width: 90%;
}

.hidden-text{
	display: none;
}

.btn-large{
	padding: 15px 20px;
	margin: 5px auto;
	box-shadow: 4px 3px 2px #888888;
	border-radius: 30px;
}

.btn-large-yellow{
	background-color: rgba(255, 215, 55, .9);
	box-shadow: 4px 3px 2px #a48807;
}

.btn-large-blue{
	background-color: rgba(125, 215, 213, .9);
	box-shadow: 4px 3px 2px #0d6762;
}

.btn-large:hover{
	text-decoration: none;
}

.btn-large a:hover{
	text-decoration: none;
}

.clear{
	clear: both;
}

.game-name-title{
	font-size: 1.8em;
}

.game-skill-title{
	font-size: 0.7em;
}

.learninggames-links-div{
	margin-top: 30px;
}

input{
	width: 50%;
}

textarea{
	width: 50%;
	height: 200px;
}


.skills-container-box{
	background-color: rgba(255, 215, 55, 0.4);
	width: 96%;
	margin: 0px auto;
	border-radius: 20px;
	padding: 30px;

}

.select-age-ul{
	display: block;
}

.select-age-ul li{
	display: inline;
}

.learninggame-container-box{
	width: 96%;
	margin: 20px auto 10px;
	/*background-color: rgba(255, 215, 55, 0.6);
	border-radius: 20px;*/
	padding: 10px;
	
}

.individual-product-box img{
	width: 100px;
	height: 100px;
}

.app-store-link img{
	width: inherit;
	height: 33px;
}

.app-store-link-large img{
	width: inherit;
	height: 60px;
}

.margin-two-px{
	margin: 2px 0;
}

.product-show-image-box{
	text-align: center;
}

.product-show-image-box img{
	width: 256px;
}

.round-black-border{
	border: 1px solid black;
	border-radius: 20px;
}

.skill-list-ul{
	text-decoration: none;
	text-align: center;
	list-style-type: none;
}

.skill-list-ul li{
	padding: 10px 5px;
}

/*Stage container display on homepage*/

.stage-container-box{
	background-color: white;
	width: 96%;
	margin: 20px auto;
	border-radius: 20px;
	padding: 30px;
	display: none;
}

/*Learning games whole box on homepage*/

.whole-learninggames-show-container-box{
	display: none;
}

/*.website-home-art-bg{
	background: url(../assets/website_bg_art_2.png) no-repeat bottom;
	height: 920px;
}*/

.homepage-see-video{
	display: none;
}

.pip-button{
	padding: 10px 25px;
	background-color: rgba(255, 215, 55, 0.9);
	border-radius: 10px;
	text-decoration: none;
}
.pip-button:hover{
	text-decoration: none;
}

.child-age-button{
	height: 60px;
}

.pip-pad img{
	width: 100%;
	/*border: 2px solid rgb(255, 215, 55);*/
}

#mc-embedded-subscribe{
	width: 35%;
	float: right;

}

#mce-EMAIL{
	width: 60%;
	float: left;
	height: 40px;
}

.email{
	width: 100%;
}

#mc_embed_signup{
	width: 40%;
	margin: 0 auto;
	z-index: -1;
}

#show-price{
	display:none;
}

.marginauto{
	margin: 0 auto;
}

.price-table table{
	width: 100%;
}

.price-table table th{
	text-align: center;
}

#total-today{
	font-weight: bold;
}

#total-year1{
	font-weight: bold;
}

#parent-form{
	display: ;
}

#teacher-form{
	display: none;
}

.teacher-parent-form{
	padding: 30px 60px;
	border: 2px solid rgba(255, 215, 55, 1);
}

.btn-main-homepage{
	font-size: 20px;
}

.yellow-border{
	border: 7px solid rgba(255, 215, 55, 1);
	border-radius: 7px;
}

.lilac{background-color:#E3A6EC;}
.pink{background-color:#ff69b4;}
.red{background-color:#ee2828;}
.yellow{background-color:#f8fb2c;}
.blue{background-color:#6c6cf8;}
.green{background-color:#008000;}
.orange{background-color:#ffa500;}
.light-blue{background-color: #52b1ad}
.light-blue-color{color: #52b1ad}
.orange-color{color: #f98e00;}



.user-login{
	width: 500px;

}
.user-login select{
	width: 50%;
	
}

#user_remember_me{
	height: 15px;
	width: 30px;
}

.user-login input{
	height: 50px;
	padding: 0 20px;
	text-align: center;
}

.quiz-div ul li{
	display: inline;
	text-decoration: none;
	list-style: none;
}

.correct-answer-bg{
	background-color:green;
}

.incorrect-answer-bg{
	background-color: red;
}

.colour-square{
	width: 200px;
	height: 100px;
}

.pip-pad{
	display: none;
	position: fixed;
	bottom: 40px;
	width: 500px;
	height: 252px;
	background: url('/assets/pip_reading_pad_small.png') no-repeat;
	margin: 0px 0px;
	font-size: 28pt;
	padding: 63px 0 0 143px;
	z-index: 10;
}

.pip-pad-sound{
	display: inline;
	height: 100px;
	margin: 0 4px;
}

.pip-pad-sound:hover{
	background-color: red;
}

img.close-pip-pad-image{
	width: 52px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.info-box{
	display: none;
}



.story-cover{
	width: 180px;
	height: 270px;
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/blank_cover.png') no-repeat;
}

.story-cover-pink{
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/storycover_pink.png') no-repeat;
}

.story-cover-red{
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/storycover_red.png') no-repeat;
}

.story-cover-yellow{
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/storycover_yellow.png') no-repeat;

}

.story-cover-blue{
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/storycover_blue.png') no-repeat;

}

.story-cover-green{
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/storycover_green.png') no-repeat;

}

.story-cover-orange{
	background: url('https://s3-eu-west-1.amazonaws.com/pipstorypages/storycover_orange.png') no-repeat;

}

.story-cover-image{
	width: 108px;
	height: 200px;
	margin: 0 auto;
}

.storypage{
	position: relative;
}

.story-cover-image img{
	margin-top: 80px;
	text-align: center;
}

.colourband-circle{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float:left;
}

.colourband-circle-large{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float:left;
}

.colour-select-div{
	padding: 26px 0px;

}

.colour-select-div button{
	margin: 0px 10px;
	
}

.programmodule-index h1{
	text-align: center;
}

.storypage-display h2{
	font-size: 28pt;
}

.story-index-grid{
	height: 460px;
}

.center-colourband{
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;

}

.next-page-link{
	position: absolute;
	top: 160px;
	right: 5px;
	width: 120px;
	height: 114px;
	background: url('../assets/story_next_button.png') no-repeat;
	text-indent: -9999px;

}

.previous-page-link{
	position: absolute;
	top: 160px;
	left: 5px;
	width: 120px;
	height: 114px;
	background: url('../assets/story_previous_button.png') no-repeat;
	text-indent: -9999px;

}

.alphabetbank button{
	font-size: 36pt;
}

.letterbank button{
	font-size: 48pt;
}

.letterbank img{
	width: 60px;
}

.choose-bank{
	margin: 40px 0;
}

