/*General styles
*/

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('LANENAR_-webfont.eot');
    src: url('LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('LANENAR_-webfont.woff') format('woff'),
         url('LANENAR_-webfont.ttf') format('truetype'),
         url('LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	padding: 60px 0 0px;
	background-color: #6cdec4;
	font-size: 16px;
	/* light blue background */
}

h1{
	font-size: 26px;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 18px;
}

img{
	max-width: 100%;
}

.homepage-title-text{
	font-family: 'lane_-_narrowregular';
	margin-bottom: 50px;
}


.green-background{
	background-color: #FEFFE8;
}

.body-padding{
	padding: 10px 0;
}

.no-margin{
	margin: 0px;
}

.nav-tabs > li > a{
	font-size: 26px;
}

.margin-top-30{
	margin-top: 30px;
}

.padding-top-20{
	padding-top: 20px;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: inherit;
	color: white;
}



/*Header elements*/

#logo-symbol-link{
	width: 130px;
	height: 50px;
	background: url('../assets/pip_logo_a_white_stroke.png') no-repeat;
	text-indent: -9999px;
}

#logo-symbol-link:hover{
	background: url('../assets/pip_logo_b_white_stroke.png') no-repeat;
}

.navbar{
	background-color: rgba(255, 215, 55, 0.9);
}


/*Footer elements*/

footer{
	background-color: rgba(255, 215, 55, 0.9);
	color: white;
	height: 130px;
	padding: 20px;
}

footer a{
	color: white;
	

}

footer ul{
	display: block;
	margin: 0 auto;
	padding: 20px;
}

footer li{
	display: inline;
	list-style: none;
	padding: 10px 30px;
}

/*Homepage elements*/
.homepage-banner{
	width: 559px;
	margin: 0px auto;
	height: 188px;
	background: url('../assets/learntoreadwithpip_logo_text_sprite.png') 0px 0px;
}

.homepage-banner:hover{
	background: url('../assets/learntoreadwithpip_logo_text_sprite.png') 2px 194px;
}

.homepage-banner-small{
	display: none;
}

.homepage-banner-small img{
	width: 100%;
}

.ipad-container{
	width: 654px;
	height: 508px;
	margin: 0 auto;
	padding: 51px 0 0 1px;
	background: url('../assets/ipad_container_video.png') no-repeat;
}

@media (max-width: 979px) {
	.homepage-banner-small{
		display:block;
	}
	.homepage-banner{
		display: none;
	}
	.homepage-banner img{
		max-width: 100%;
	}
}

.btn-enormous{
	padding: 19px 62px;
	font-size: 26px;
	line-height: 1.2;
	box-shadow: 5px 5px 3px #888888;	
}

.homepage-bottom-graphics{
	height:200px;
	position: relative;
	margin-top: 120px;
}

.dot-more-info{
	height: 400px;
	width: 300px;
	background: url(../assets/website_sprite_sheet_1.png) -61px -493px;
	position: absolute;
	bottom: 0px;
	right: 30px;
	text-indent: -9999px;
}

.dot-more-info:hover{
	background: url(../assets/website_sprite_sheet_1.png) -390px -482px;
}

.homepage-animated-tree{
	position: absolute;
	bottom: 0px;
	left: 40px;
	height: 240px;
	width: 242px;
	background: url(../assets/tree_animated.png) 0px 0px;
}

.homepage-animated-small-tree{
	position: absolute;
	bottom: 20px;
	left: 340px;
	height: 240px;
	width: 200px;
	background: url(../assets/tree_animated.png) 0px -237px;
}

.homepage-animated-grass{
	position: absolute;
	bottom: 0px;
	height: 73px;
	width: 100%;
	background: url(../assets/website_sprite_sheet.png) -1079px 139px;
}




/*Animations*/
@keyframes cloudMove{
	0% {left: 0%;}
	
	100% {left: 100%;}
}

@-webkit-keyframes cloudMove{
	0% {left: 0%;}
	100% {left: 100%;}
}

@keyframes cloudMoveTwo{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes cloudMoveTwo{
	0% {left: 30%;}
	100% {left: 100%;}
}

.moving-cloud{
	width: 176px;
	height: 85px;
	background: url(../assets/website_sprite_sheet.png) no-repeat -116px -900px;
	position: absolute;	
	top: 70px;
	z-index: -10;
	animation: cloudMove 150s;
	-webkit-animation: cloudMove 150s;
}

.moving-cloud-small{
	width: 78px;
	height: 50px;
	background: url(../assets/website_sprite_sheet.png) no-repeat -22px -914px;
	position: absolute;	
	top: 210px;
	z-index: -10;
	animation: cloudMoveTwo 200s;
	-webkit-animation: cloudMoveTwo 200s;
}

@keyframes letteroMove{
	0% {left: 0%;}
	
	100% {left: 100%;}
}

@-webkit-keyframes letteroMove{
	0% {left: 0%;}
	100% {left: 100%;}
}

@keyframes letterrMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letterrMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@keyframes letteraMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letteraMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@keyframes letterbMove{
	0% {right: 30%;}
	100% {right: 100%;}
}

@-webkit-keyframes letterbMove{
	0% {right: 30%;}
	100% {right: 100%;}
}

@keyframes letteriMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letteriMove{
	0% {right: 10%;}
	100% {right: 100%;}
}

@keyframes letternMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@-webkit-keyframes letternMove{
	0% {left: 30%;}
	100% {left: 100%;}
}

@keyframes lettertMove{
	0% {left: 50%;}
	100% {left: 100%;}
}

@-webkit-keyframes lettertMove{
	0% {left: 50%;}
	100% {left: 100%;}
}

.moving-letter-o{
	width: 150px;
	height: 150px;
	background: url(../assets/letter_o_small.png) no-repeat;
	position: absolute;	
	top: 370px;
	z-index: -10;
	animation: letteroMove 150s;
	-webkit-animation: letteroMove 150s;
}

.moving-letter-r{
	width: 150	px;
	height: 150px;
	background: url(../assets/letter_r_small.png) no-repeat;
	position: absolute;	
	top: 380px;
	z-index: 10;
	animation: letterrMove 200s;
	-webkit-animation: letterrMove 200s;
}

.moving-letter-a{
	width: 78px;
	height: 50px;
	background: url(../assets/letter_r_small.png) no-repeat;
	position: absolute;	
	top: 310px;
	z-index: 10;
	animation: letteraMove 200s;
	-webkit-animation: letteraMove 200s;
}

.moving-letter-b{
	width: 80px;
	height: 80px;
	background: url(../assets/letter_b.png) no-repeat;
	position: absolute;	
	top: 490px;
	z-index: 10;
	animation: letterbMove 200s;
	-webkit-animation: letterbMove 200s;
}

.moving-letter-i{
	width: 150px;
	height: 150px;
	background: url(../assets/letter_i.png) no-repeat;
	position: absolute;	
	top: 230px;
	z-index: -10;
	animation: letteriMove 200s;
	-webkit-animation: letteriMove 200s;
}

.moving-letter-n{
	width: 150px;
	height: 150px;
	background: url(../assets/letter_n.png) no-repeat;
	position: absolute;	
	top: 410px;
	z-index: 10;
	animation: letternMove 200s;
	-webkit-animation: letternMove 200s;
}

.moving-letter-t{
	width: 75px;
	height: 75px;
	background: url(../assets/letter_t.png) no-repeat;
	position: absolute;	
	top: 410px;
	z-index: 10;
	animation: lettertMove 200s;
	-webkit-animation: lettertMove 200s;
}


/*More info elements*/



/*App info elements*/

/*Lettersounds page*/

.lettersounds img:hover{
	background-color: rgba(255, 215, 55,0.8);
}

/*About us elements*/

.genesis-image img{
	width: 100%;
	border: 2px solid #FFD737;
}

/*Curriculum page*/

.curriculum-img{
	text-align: center;
}

.curriculum-img img{
	width: 90%;
}

.hidden-text{
	display: none;
}

.btn-yellow{
	background-color: rgba(255, 215, 55, .9);
	padding: 15px 20px;
	width: 40%;
	margin: 5px auto;

}

.btn-yellow:hover{
	background-color: rgba(255, 215, 55, 1);
	padding: 15px 20px;
	text-decoration: none;

}

.btn-yellow a:hover{
	text-decoration: none;
}

.clear{
	clear: both;
}

.game-name-title{
	font-size: 1.4em;
}

.game-skill-title{
	font-size: 0.7em;
}

.learninggames-links-div{
	margin-top: 30px;
}

input{
	width: 50%;
}

textarea{
	width: 50%;
	height: 200px;
}


.skills-container-box{
	background-color: rgba(255, 215, 55, 0.4);
	width: 96%;
	margin: 0px auto;
	border-radius: 20px;
	padding: 30px;

}

.select-age-ul{
	display: block;
}

.select-age-ul li{
	display: inline;
}

.learninggame-container-box{
	width: 96%;
	margin: 20px auto 10px;
	/*background-color: rgba(255, 215, 55, 0.6);
	border-radius: 20px;*/
	padding: 10px;
	
}

.individual-product-box img{
	width: 100px;
	height: 100px;
}

.app-store-link img{
	width: inherit;
	height: 33px;
}

.app-store-link-large img{
	width: inherit;
	height: 60px;
}

.margin-two-px{
	margin: 2px 0;
}

.product-show-image-box{
	text-align: center;
}

.product-show-image-box img{
	width: 256px;
}

.round-black-border{
	border: 1px solid black;
	border-radius: 20px;
}

.skill-list-ul{
	text-decoration: none;
	text-align: center;
	list-style-type: none;
}

.skill-list-ul li{
	padding: 10px 5px;
}

/*Stage container display on homepage*/

.stage-container-box{
	background-color: white;
	width: 96%;
	margin: 20px auto;
	border-radius: 20px;
	padding: 30px;
	display: none;
}

/*Learning games whole box on homepage*/

.whole-learninggames-show-container-box{
	display: none;
}

.website-home-art-bg{
	background: url(../assets/website_bg_art_2.png) no-repeat bottom;
	height: 440px;
}

.homepage-see-video{
	display: none;
}

.pip-button{
	padding: 10px 25px;
	background-color: rgba(255, 215, 55, 0.9);
	border-radius: 10px;
	text-decoration: none;
}
.pip-button:hover{
	text-decoration: none;
}


